body {
    font-family: 'Raleway', sans-serif;
    background-color: white;

}
.dark-mode {
    background-color: black;
  }



:root {
    --light-grey: #e0e0e0;
    --dark-grey: #606060;
    --red-bg: #da1e5d;
}

.layoutText{
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}
.layout1{
width: 157.27px;
height: 64px;
margin-left: 64px;
margin-top: 81px;
background-color: #E0E0E0;
border-radius: 14px;
}
.layout2{
width: 157.27px;
height: 64px;
margin-left: 7.1px;
margin-top: 81px;
background-color: #E0E0E0;
border-radius: 14px;
}
.layout3{
width: 157.27px;
height: 64px;
margin-left: 7.1px;
margin-top: 81px;
background-color: #E0E0E0;
border-radius: 14px;
}

/* card design for layout 1 */
.card1box{
    display: grid;
    grid-template-columns: none;
    margin-top: 28px;
    margin-left: 64px;
    margin-right: 64px;
}
.card1Design1{
    height: 150px;
    background-color: #DA1E5D;
    border-radius: 14px;
}
.cardDesign1text{
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    width: 92.2px;
    height: 26px;
    margin-top: 62px;
    display: inline-block;

}

.cardDesign2text{
    margin-top: 62px;
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    width: 92.2px;
    height: 26px;

}

.cardDesign3text{
    margin-top: 62px;
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    width: 92.2px;
    height: 26px;

}

.cardDesign4text{
    margin-top: 62px;
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    width: 92.2px;
    height: 26px;

}

.cardDesign5text{
    margin-top: 62px;
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    width: 92.2px;
    height: 26px;

}

/* card2 design */
.card2Design1{
width: 350px;
height: 300px;
background: #DA1E5D;
border-radius: 14px;
}
.card2Design2text{
display: inline-block;
width: 67px;
height: 26px;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
margin-top: 130px;
}

.card2box{
    margin-top: 28px;
    margin-left: 64px;
    margin-right: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* card3 design */


.card3Midbox{
    display: flex;
    margin-left: 64px;
    margin-top: 43px;
    
    
}
.card3Design1text{
    display: inline-block;
    width: 67px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 190px;
    }
    .card3Design3text{
        display: inline-block;
        width: 67px;
        height: 26px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 190px;
        }
.card3Design1{
width: 300px;
height: 419px;

background-color: #DA1E5D;
border-radius: 14px;
}
.card3Design2{
    width: 526px;
    height: 419px;
    background-color: #DA1E5D;
    border-radius: 14px;
    margin-left: 50px;
    margin-right: 45px;
}
.card3Design3{
    width: 300px;
    height: 419px;
    background-color: #DA1E5D;
    border-radius: 14px;
}


/* responsive for mobile */
@media only screen and (max-width: 600px) {
    .card2box{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;

    }

    .card3Midbox{
        margin-left: 10px;
        
    }
    .layout1{
        margin-left: 14px;
        
        }
  }
  @media only screen and (max-width: 1280px) {
    .card2box{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;

    }
    .card3Midbox{
        margin-left: 10px;
        
    }
  }
